# Pandas

In [2]:
import pandas as pd

In [3]:
#pd.read_excel('Your excel file')
#pd.read_csv('Your csv file')

In [4]:
pd.read_csv('student.csv').head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [5]:
heroes = pd.read_csv('heroes.csv')
heroes.head(3)

,Sr. No.,Rank,Class,Name,Gender,Abilities
0,1,S-1,S-Class,Blast,Male,"['Superhuman Physical Prowess', 'Portal Creati..."
1,2,S-2,S-Class,Tatsumaki,Female,['Psychokinesis']
2,3,S-3,S-Class,Silver Fang,Male,"['Superhuman Physical Prowess', 'Master Martia..."

In [24]:
heroes.loc[heroes['Rank'] == 'S', 'Name']

Series([], Name: Name, dtype: object)

In [36]:
heroes = pd.read_csv('heroes.csv')
s1 = heroes['Rank'].str.startswith(('S'))

In [37]:
heroes[s1].head(5)

,Sr. No.,Rank,Class,Name,Gender,Abilities
0,1,S-1,S-Class,Blast,Male,"['Superhuman Physical Prowess', 'Portal Creati..."
1,2,S-2,S-Class,Tatsumaki,Female,['Psychokinesis']
2,3,S-3,S-Class,Silver Fang,Male,"['Superhuman Physical Prowess', 'Master Martia..."
3,4,S-4,S-Class,Atomic Samurai,Male,"['Superhuman Physical Prowess', 'Master Swords..."
4,5,S-5,S-Class,Child Emperor,Male,['Genius Intellect']

In [38]:
a = heroes['Rank'].str.startswith(('A'))

In [39]:
heroes[a].head(5)

,Sr. No.,Rank,Class,Name,Gender,Abilities
17,18,A-1,A-Class,Amai Mask,Male,"['Superhuman Physical Prowess', 'Regeneration'..."
18,19,A-2,A-Class,Iaian,Male,"['Superhuman Speed', 'Superhuman Strength', 'E..."
19,20,A-3,A-Class,Okamaitachi,Female,['Expert Swordsman']
20,21,A-4,A-Class,Bushidrill,Male,"['Superhuman Strength', 'Superhuman Speed', 'S..."
21,22,A-5,A-Class,Heavy Tank Loincloth,Male,"['Enhanced Strength', 'Enhanced Speed']"

In [42]:
heroes[s1 | a].loc[15:20]

,Sr. No.,Rank,Class,Name,Gender,Abilities
15,16,S-16,S-Class,Tanktop Master,Male,"['Superhuman Physical Prowess', 'Expert Marksm..."
16,17,S-17,S-Class,Puri-Puri Prisoner,Male,"['Superhuman Physical Prowess', 'Healing Factor']"
17,18,A-1,A-Class,Amai Mask,Male,"['Superhuman Physical Prowess', 'Regeneration'..."
18,19,A-2,A-Class,Iaian,Male,"['Superhuman Speed', 'Superhuman Strength', 'E..."
19,20,A-3,A-Class,Okamaitachi,Female,['Expert Swordsman']
20,21,A-4,A-Class,Bushidrill,Male,"['Superhuman Strength', 'Superhuman Speed', 'S..."

In [43]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sr. No.    138 non-null    int64
 1   Rank       138 non-null    object
 2   Class      138 non-null    object
 3   Name       138 non-null    object
 4   Gender     138 non-null    object
 5   Abilities  50 non-null     object
dtypes: int64(1), object(5)
memory usage: 6.6+ KB

In [62]:
femaleHeroes = ( (heroes['Gender'] == 'Female') & (heroes['Sr. No.'] < 60) )

In [63]:
heroes[femaleHeroes]

,Sr. No.,Rank,Class,Name,Gender,Abilities
1,2,S-2,S-Class,Tatsumaki,Female,['Psychokinesis']
19,20,A-3,A-Class,Okamaitachi,Female,['Expert Swordsman']
27,28,A-11,A-Class,Twin Tail,Female,['Juggling']
41,42,A-32,A-Class,Shadow Ring,Female,"['Enhanced Speed', 'Enhanced Reflexes']"
49,50,B-1,B-Class,Blizzard of Hell,Female,['Psychokinesis']
54,55,B-25,B-Class,Pink Hornet,Female,NaN

In [65]:
villains = pd.read_csv('villains.csv')

In [66]:
villains.head(5)

   Sr. No.             Affiliation        Name Gender
0        1               Tsukuyomi      Apollo   Male
1        2  Mediocre Ability Users       Enjoe   Male
2        3  Mediocre Ability Users        Brut   Male
3        4  Mediocre Ability Users  Chemonille   Male
4        5      Cow's Stomach Gang   Bull-Bull   Male

In [73]:
villains['Affiliation'].unique()

array(['Tsukuyomi', 'Mediocre Ability Users', "Cow's Stomach Gang",
       'Unaffiliated', 'Paradise Group', 'House of Evolution',
       'Dark Matter Thieves', 'The Organization', 'Mother Earth',
       'Monster Association'], dtype=object)

In [72]:
len(villains['Affiliation'].unique())

10

In [74]:
femaleVillains = villains['Gender'] == 'Female'

In [75]:
villains[femaleVillains]

     Sr. No.          Affiliation           Name  Gender
24        25   House of Evolution  Mosquito Girl  Female
49        50  Monster Association           Do-S  Female
54        55  Monster Association       Eyesight  Female
74        75  Monster Association   Maiko Plasma  Female
77        78  Monster Association          Nyan   Female
81        82  Monster Association         Psykos  Female
84        85  Monster Association        Raptora  Female
85        86  Monster Association        Reptera  Female
120      121         Unaffiliated   Grizzly Nyah  Female
122      123         Unaffiliated       Himawari  Female
126      127         Unaffiliated           Kite  Female

In [84]:
villains.loc[[24, 49]]

    Sr. No.          Affiliation           Name  Gender
24       25   House of Evolution  Mosquito Girl  Female
49       50  Monster Association           Do-S  Female

In [85]:
villains.iloc[0]

Sr. No.                1
Affiliation    Tsukuyomi
Name              Apollo
Gender              Male
Name: 0, dtype: object

In [94]:
villains.iloc[-5:]

     Sr. No.   Affiliation                        Name        Gender
150      151  Unaffiliated            Three Eyed Ghost  Unidentified
151      152  Unaffiliated  The Three Tempest Brothers          Male
152      153  Unaffiliated            Tongue Stretcher          Male
153      154  Unaffiliated             Withered Sprout          Male
154      155  Unaffiliated                       Garou          Male

In [95]:
villains.columns

Index(['Sr. No.', 'Affiliation', 'Name', 'Gender'], dtype='object')

In [97]:
villains.index

RangeIndex(start=0, stop=155, step=1)

In [116]:
villains['Gender'] = villains['Gender'].str.replace("Unidentified", "Transgender")

In [117]:
villains.iloc[-5:]

     Sr. No.   Affiliation                        Name       Gender
150      151  Unaffiliated            Three Eyed Ghost  Transgender
151      152  Unaffiliated  The Three Tempest Brothers         Male
152      153  Unaffiliated            Tongue Stretcher         Male
153      154  Unaffiliated             Withered Sprout         Male
154      155  Unaffiliated                       Garou         Male

In [140]:
heroes = pd.read_csv('heroes.csv')

In [144]:
def getHero(ability):
    character = heroes['Abilities'].str.contains(ability, na=False)
    df = heroes[character]
    return df

In [146]:
getHero("Swordsman")

,Sr. No.,Rank,Class,Name,Gender,Abilities
3,4,S-4,S-Class,Atomic Samurai,Male,"['Superhuman Physical Prowess', 'Master Swords..."
12,13,S-13,S-Class,Flashy flash,Male,"['Superhuman Speed and Agility', 'Master Sword..."
18,19,A-2,A-Class,Iaian,Male,"['Superhuman Speed', 'Superhuman Strength', 'E..."
19,20,A-3,A-Class,Okamaitachi,Female,['Expert Swordsman']
20,21,A-4,A-Class,Bushidrill,Male,"['Superhuman Strength', 'Superhuman Speed', 'S..."
37,38,A-28,A-Class,Spring Mustachio,Male,['Superhuman Speed Swordsmanship']
39,40,A-30,A-Class,Peach Terry,Male,['Skilled Swordsman']

In [152]:
record = getHero('Superhuman')

In [153]:
record.to_excel('superhuman.xlsx')

In [154]:
record

,Sr. No.,Rank,Class,Name,Gender,Abilities
0,1,S-1,S-Class,Blast,Male,"['Superhuman Physical Prowess', 'Portal Creati..."
2,3,S-3,S-Class,Silver Fang,Male,"['Superhuman Physical Prowess', 'Master Martia..."
3,4,S-4,S-Class,Atomic Samurai,Male,"['Superhuman Physical Prowess', 'Master Swords..."
8,9,S-9,S-Class,Drive Knight,Male,"['Superhuman Physical Characteristics', 'Trans..."
9,10,S-10,S-Class,Pig God,Male,"['Superhuman Physical Prowess', 'Inhuman Diges..."
10,11,S-11,S-Class,Supperalloy Darkshine,Male,"['Superhuman Physical Prowess', 'Master Hand-t..."
11,12,S-12,S-Class,Watchdog Man,Male,"['Superhuman Physical Prowess', 'Dog Attributes']"
12,13,S-13,S-Class,Flashy flash,Male,"['Superhuman Speed and Agility', 'Master Sword..."
14,15,S-15,S-Class,Metal Bat,Male,"['Superhuman Physical Prowess', 'Fighting Spir..."
15,16,S-16,S-Class,Tanktop Master,Male,"['Superhuman Physical Prowess', 'Expert Marksm..."
16,17,S-17,S-Class,Puri-Puri Prisoner,Male,"['Superhuman Physical Prowess', 'Healing Factor']"
17,18,A-1,A-Class,Amai Mask,Male,"['Superhuman Physical Prowess', 'Regeneration'..."
18,19,A-2,A-Class,Iaian,Male,"['Superhuman Speed', 'Superhuman Strength', 'E..."
20,21,A-4,A-Class,Bushidrill,Male,"['Superhuman Strength', 'Superhuman Speed', 'S..."
26,27,A-10,A-Class,Stinger,Male,"['Superhuman Physical Prowess', 'Expert Spearm..."
37,38,A-28,A-Class,Spring Mustachio,Male,['Superhuman Speed Swordsmanship']